<!-- *SIDEBAR-NAV* -->
<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="index"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-primary">NEW</span></a>
        </li>
        <li class="nav-title">
            Master Detials
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Components</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-buttons"><i class="icon-puzzle"></i>Customer Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-social-buttons"><i class="icon-puzzle"></i>Region</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-cards"><i class="icon-puzzle"></i> Channel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-forms"><i class="icon-puzzle"></i>Industry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-modals"><i class="icon-puzzle"></i>Business Division</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-switches"><i class="icon-puzzle"></i>BoughtoutInstrument</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-tables"><i class="icon-puzzle"></i>Competition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-tabs"><i class="icon-puzzle"></i>Facility</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-tabs"><i class="icon-puzzle"></i>LRBU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-tabs"><i class="icon-puzzle"></i>OilFree</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-tabs"><i class="icon-puzzle"></i>Rotary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="components-tabs"><i class="icon-puzzle"></i>Smallair</a>
                </li>
            </ul>
        </li>
        <!--<li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i>PriceRequest <span class="badge badge-primary">NEW</span></a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="icons-font-awesome"><i class="icon-star"></i> Create New SPR</a>
                </li>-->
                
                @*<li class="nav-item">
            <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="icons-simple-line-icons"><i class="icon-star"></i> Simple Line Icons</a>
        </li>*@
            <!--</ul>
        </li>-->
        <li class="nav-item">
            <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="widgets"><i class="icon-calculator"></i> Create New SPR <span class="badge badge-primary">NEW</span></a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="charts"><i class="icon-pie-chart"></i> Charts</a>
        </li>*@
        <li class="divider"></li>
        <li class="nav-title">
            Master users
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i>Users</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="pages-login" target="_top"><i class="icon-star"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="pages-register" target="_top"><i class="icon-star"></i> Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="pages-404" target="_top"><i class="icon-star"></i> Error 404</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-view="pages-500" target="_top"><i class="icon-star"></i> Error 500</a>
                </li>
            </ul>
        </li>
        @*<li class="nav-item mt-auto">
            <a class="nav-link nav-link-success" href="http://coreui.io/" target="_top"><i class="icon-cloud-download"></i> Download CoreUI</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-danger" href="http://coreui.io/pro/" target="_top"><i class="icon-layers"></i> Try CoreUI <strong>PRO</strong></a>
        </li>*@
    </ul>
</nav>
<!-- /*SIDEBAR-NAV* -->
